<div class="container mt-5">
    <div class="row p-3">
        <h2 class="text-center text-primary mb-4">Feedback Form</h2>
        <div class="col-md-6 ">
            <img src="../../../assets/images/feedback.avif" alt="Sample Image" class="img-fluid">
        </div>
        <div class="col-md-6 py-3">
            <input type="text" class="form-control mt-3" placeholder="Your Name">
            <input type="email" class="form-control mt-3" placeholder="Your Email">
            <textarea class="form-control mt-3" rows="5" placeholder="Your Feedback"></textarea>
            <button class="btn btn-primary w-100 mt-3" (click)="saveFeedBack()">Submit</button>
        </div>
    </div>
</div>